body {
  border: 1px solid #2d3c49;
  min-width: 300px;
}

figure, img {
  width: 100%;
}

.container {
  width:100%;
  max-width:1200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-items:stretch;
  margin:auto;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
}

.header-box {
  max-width: 50%;
}

.text-box {
  margin:auto;
  max-width: 100%;
  text-align: left;
}

.main-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.main-box {
  width: 100%;
  margin: auto;
}

.photo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.photo-box {
  flex: 0 1 auto;
  width: 100%;
  margin: 5px auto;
}

#header {
  width: 100%;
}

#surname-name {
  font-family: "Federo";
  font-size: 32px;
  text-align: right;
  margin: auto;
}

#title {
  font-family: "Federo";
  font-size: 14px;
  text-align: right;
  margin: auto;
}

#logo {
  height: 10%;
  max-height: 200px;
  width: 10%;
  max-width: 200px;
  margin: 10px 0 10px;
}

#first-line {
  border: none;
  height: 5px;
  background-color: #7d97ad;
  margin: 15px, 0;
  width: 100%
}

#featured-work h3 {
  font-family: "Federo";
  font-size: 28px;
  color: #7d97ad;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
}

#featured-work figure {
  font-family: "Federo";
  font-size: 25px;
  text-align: center;
}

#featured-work figure img {
  padding-bottom: 10px;
}

@media screen and (min-width: 900px) {
  .main-box#tourdefrance {
    max-width: 1000px;
    max-height: 600px;
  }
}

@media screen and (min-width: 600px) {
  #featured-work {
    margin: 8% 0;
  }
  .photo-box {
    flex: 0 1 auto;
    margin: 5px auto;
    width: 100%;
    max-width: 250px;
  }
}

@media screen and (max-width: 599px) {
  #featured-work {
    margin: 15% 0;
  }
  .photo-box {
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
  }
  #surname-name {
    font-family: "Federo";
    font-size: 24px;
    text-align: right;
    margin: auto;
  }
  #featured-work figure {
    font-family: "Federo";
    font-size: 18px;
    text-align: center;
  }
}

@media screen and (max-width: 399px) {
  #featured-work {
    margin: 25% 0;
  }
  .photo-box {
    margin: 15px auto;
    width: 100%;
    max-width: 300px;
  }
  #surname-name {
    font-family: "Federo";
    font-size: 18px;
    text-align: right;
    margin: auto;
  }
  #featured-work figure {
    font-family: "Federo";
    font-size: 14px;
    text-align: center;
  }
}
